.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
    overflow: auto;

  }
  
  .pdf_page {
    width: center;
    height: 100%;
    margin-top: 5%; /* Add this line */
    
    h1 {
        color: #ffd700;
        font-size: 60px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        text-align: center;
    }

    .react-pdf__Page {
      display: block;
      margin: 0 auto;
    }
  }
  