.pdf_page {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: #ffd700;
    font-size: 60px;
    line-height: 53px;
    margin: 0 0 20px 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    text-align: center;
  }

  .iframe-container {
    width: 100vw; // Using viewport width to make it responsive
    padding-top: 112.5%; // 900/800 = 1.125 or 112.5% for 8:9 aspect ratio
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
