.contact-page {
  .contact-form {
    width: 100%;
    font-size: 20px;

    .logo_icons {
      display: flex;
      font-size: 40px;
      justify-content: flex-start;

      /* Add margin to all icon elements except the last one */
      a:not(:last-child) {
        margin-right: 35px;
      }
    }
  }

  .map-wrap {
    padding-top: 1%;
    margin-top: auto;
    margin-bottom: auto;
    flex-basis: 600px; // Set a base width for the map container
    height: 600px;
    display: flex; // Ensure the iframe stays centered
  }

  @media only screen and (max-width: 768px) {
    .content-wrapper {
      display: flex;
      flex-direction: column;
    }

    .map-wrap {
      order: 2;  // Move the map-wrap to the bottom
      width: 100%; // Make sure it takes full width
      height: 300px; // Adjust the height to be smaller for mobile
      margin-top: 20px; // Add some space between the form and the map
    }

    .contact-form {
      order: 1;
    }
  }
}
